# --- Postgres ---
POSTGRES_DB=xxyyzz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# --- Backend ---
BACKEND_PORT=3000
SESSION_COOKIE_DOMAIN=xxyyzz.localhost

# Публичный URL фронтенда в dev-режиме (локальный домен + HTTPS)
CLIENT_URL=https://xxyyzz.localhost
RECOMMENDED_CLIENT_URL=https://xxyyzz.localhost

# Боевой адрес приложения (production)
# PRODUCTION_URL=https://example.com
